.ButGenreDark{
    display: flex;
    background: #504a84;
    margin: 3px;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;
}
.ButGenreLight{
    display: flex;
    background: #6860a9;
    margin: 3px;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;

}
.ButGenreLight:hover{
    cursor: pointer;
    background-color: #807e7e;
}
.ButGenreDark:hover{
    cursor: pointer;
    background-color: #5f5e5e;
}