.ButGenreDark{
    display: flex;
    background: #585575;
    margin: 3px;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;
}
.ButGenreLight{
    display: flex;
    background: #908bbb;
    margin: 3px;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;

}
.ButGenreLight:hover{
    cursor: pointer;
    background-color: #807e7e;
}
.ButGenreDark[class='active']{
    cursor: pointer;
    background-color: #5f5e5e;
}
.ButGenreLight[class='active']{

    background-color: #665478;
}
.ButGenreDark:active{

    background-color: #9c9b9b;
}